@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global styles */

* {
  @apply text-zinc-200;
}


input[type="text"] {
  @apply px-2 py-1 rounded-md border-none outline-none ring-2 ring-zinc-600 text-black;
  @apply focus-visible:ring-blue-300;
}

input[type="checkbox"] {
  @apply h-4 w-4 outline-none border-none ring-2 ring-zinc-700;
  @apply focus-visible:ring-blue-300;
}

label {
  @apply mb-1;
}

select {
  @apply bg-zinc-800 text-zinc-200 rounded-md py-0.5 px-2 border-none outline-none ring-1 ring-zinc-600;
  @apply focus-visible:ring-blue-300;
}

option {
  @apply bg-zinc-700 text-zinc-400;
}

option.selected {
  @apply font-semibold text-zinc-300;
}


h1.link a, 
h2.link a, 
h3.link a, 
h4.link a, 
h5.link a, 
h6.link a {
  @apply outline-none;
}

/* sidebar scroll bars */
#sidebar:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-800
}

#sidebar::-webkit-scrollbar {
  width: 0.75rem;
}

#sidebar::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

#sidebar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-transparent hover:bg-zinc-700;
}

/* file uploader scroll bars (appears for file previews, horizontal overflow axis) */
#file-uploader::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

#file-uploader::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-800;
}

#file-uploader:hover::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
}

#file-uploader::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}



/* Base */

@layer base {
  /* accessability layers */
  .has-hover {
    @apply motion-reduce:transition-none transition-all duration-150;
  }

  /* base text layers */
  .text-limit {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }

  .text-title {
    @apply text-xl font-semibold capitalize;
  }

  .text-attention {
    @apply text-blue-50; 
    @apply hover:text-blue-200;
    @apply focus-visible:text-blue-200;
  }

  .text-attention-damp {
    @apply text-zinc-400 fill-zinc-400;
    @apply hover:text-zinc-200 hover:fill-zinc-200;
    @apply focus-within:text-zinc-200 focus-within:fill-zinc-200;
    @apply focus-visible:text-zinc-200 focus-visible:fill-zinc-200;
  }

  .link {
    @apply outline-none underline-offset-4;
    @apply focus-visible:underline focus-within:underline;
  }

  .link-primary {
    @apply link text-attention;
  }


  /* position / dimension layers */
  .absolute-center {
    @apply absolute;
    @apply top-1/2 left-1/2;
    @apply -translate-x-1/2 -translate-y-1/2;
  }

  /* buttons & other mouse over / focus effect layers */

  .btn {
    @apply outline-none focus-visible:ring-1 ring-zinc-200;
  }

  .btn-primary {
    @apply btn motion-reduce:transition-none motion-safe:transition-all rounded-md;
    @apply bg-blue-500 hover:bg-opacity-80 shadow-black/10 shadow-md hover:shadow-black/25 hover:text-white;
    @apply active:opacity-50 active:scale-95 active:hover:bg-opacity-100 active:shadow-sm active:hover:text-white active:text-white;
    @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:text-zinc-400 disabled:hover:bg-opacity-100;
  }

  .btn-generic {
    @apply btn w-fit rounded-md underline-offset-4;
    @apply hover:bg-opacity-80 hover:shadow-sm hover:shadow-black/20;
    @apply active:opacity-50 active:scale-95 active:hover:bg-opacity-100 active:shadow-none;
    @apply focus-visible:ring-opacity-50;
    @apply disabled:opacity-50 disabled:cursor-not-allowed disabled:text-opacity-50 disabled:hover:bg-opacity-100;
  }

  .pressure-press {
    @apply has-hover;
    @apply active:scale-95 active:opacity-50;
  }

}

/* Components */

@layer components {
  .tag-badge {
    @apply bg-zinc-800 border border-zinc-700 text-zinc-400 rounded-md tracking-widest;
    @apply text-[0.625rem] uppercase font-semibold flex flex-col items-center justify-center h-6;
  }

  .hr-split {
    @apply bg-zinc-800 border-0 h-px m-4;
  }

  .post-num-badge {
    @apply tag-badge font-bold font-mono outline-none;
    @apply border-blue-300 border-opacity-20 bg-blue-300 bg-opacity-5 text-blue-400;
    @apply hover:border-opacity-50 hover:border-blue-200 hover:bg-opacity-10 hover:text-blue-300;
    @apply focus-visible:border-opacity-50 focus-visible:border-blue-200 focus-visible:bg-opacity-10 focus-visible:text-blue-300 focus-visible:underline underline-offset-4;
  }

  .post-link {
    @apply tag-badge inline-flex px-2 tracking-wide text-xs;
  }


}


  /* Forced includes - for dynamic styles that can't be determined at compile time (post contents etc..) */


/* parsed html classes */

div.content-body p {
  @apply my-4 font-thin leading-5 text-base;
}

div.content-body button {
  @apply border mx-1 font-bold;
}

div.content-body button span {
  @apply mx-0.5;
}

div.content-body button span.separate {
  @apply text-zinc-600;
}

div.content-body button span.board {
  @apply text-amber-300/50;
}

div.content-body button span.thread {
  @apply text-green-300/50;
}

div.content-body button span.post {
  @apply text-blue-200/50;
}

div.content-body button.init {
  @apply bg-zinc-600/20 border-zinc-500/20 text-zinc-400/50;
}

div.content-body button.processing {
  @apply bg-amber-200/20 border-amber-400/50 text-yellow-200/50;
}

div.content-body button.error {
  @apply bg-red-400/20 border-red-700/50 text-red-200/50 line-through decoration-red-200;
}

div.content-body button.success {
  @apply bg-blue-600/5 border-blue-800/50 text-blue-200/50;
}

div.content-body blockquote {
  @apply pl-2 py-2 border-l-2 border-blue-300/50 bg-zinc-800 rounded-md text-zinc-400 italic;
}

article.embedded {
  @apply border border-zinc-800;
}